body {
    color:#3c4f6a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0;
    margin:0;
}

p {
    color:#3c4f6a;
    font-size: 16px;
    line-height: 20px;
    text-align:justify;

}

/* Large banner image styling begins here. */
.banner {
    background-image: url("./images/bannerimg3.jpg");
    width:100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.banner h2 {
    color:#2b2e35;
    background-color:#88c5c7;
    font-size:30px;
    padding:5px 10px 5px 10px;
    display:inline;
    position:relative;
    float:right;
    top:175px;
    right:80px;
}

/* Header and navigation styling begins here. */
header {
    position:static;
    background-color:#2b2e35;
    height: 100px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

header h1 {
    color:#2b2e35;
    background-color:#88c5c7;
    font-size:50px;
    padding:0px 10px 0px 75px;
    display:inline;
    width:400px;
    height:50px;
    margin-top:25px;
}

header nav{
    display:flex;
    justify-content: flex-end;
    margin-right:75px;

} 

.link {
    padding:5px 10px 5px 10px;
    border-bottom: 3px solid #88c5c7;
    margin-right:10px;
    text-decoration: none;
    color:#88c5c7;
    font-size:20px;
    height:25px;
    margin-top:30px;
}

.link:hover {
    background-color:#88c5c7;
    color:#2b2e35;  
    transition: 0.25s ease-in;
}

/* Main container styling begins here. */
main {
    margin: 75px;
}

section {
    display:flex;
    flex-direction: row;
    margin-bottom:50px;

}

/* Main container headers and corresponding content sections styling begins here. */
.content-header {
    position:relative;
    bottom:50px;
    width: 15%;
    font-size:45px;
    font-weight: bolder;
    text-align:right;
    margin-right: 20px;
    width:400px;
}

.content {
    position:relative;
    width:100%;
    border-left: 4px solid #3c4f6a; 
    padding-left:50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
}


.profileimg{
    background-image: url(./images/profile.jpg);
    width:200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 5px solid #88c5c7;
    margin:5px;
    display:flex;
}

/* 'Work'/Projects section and images styling begins here. */
.projects {
    position:relative;
    flex: 3 1 400px;
    height:175px;
    border: 5px solid #88c5c7;
    margin:5px;
    width:50%;
}

.project {
    width:100%;
    height: 175px;
    background-size: cover;
    background-position: center;

}

.project:hover {
    opacity:0.5;
    transition: 0.2s ease-in;
}

/* First/larger project image styling begins here. */


#larger {
    flex:3 1 100%;
    width:100%;
    height:350px;
    border: 5px solid #88c5c7;
    margin:5px;
}

#first {
    height: 350px;
}

#one {
    top:255px;
}

/* Image sources begin here */
.img1{
    background-image:url(./images/surfing.jpg);   
}

.img2 {
    background-image:url(./images/led.jpg);
}

.img3 {
    background-image:url(./images/calc.jpg);
}

.img4 {
    background-image:url(./images/puzzle.jpg);
}

.img5 {
    background-image:url(./images/run.jpg);
}

/* Project title and description overlay styling begins here. */
.project-info {
    display:inline-block;
    position:absolute;
    top:80px;
    background-color:#88c5c7;
    padding:10px 10px 0px 5px;
    margin:0px;
}
.project-info h5 {
    font-size: 20px;
    line-height: 18px;
    margin:0px;
}

.project-info p {
    font-size:12px;
    line-height: 10px;
    font-weight: bold;
}



/* Contact Me header and corresponding section styling begins here. */
#contact-me {
    position:relative;
    width:100%;
    height:100%;
    border-left: 4px solid #3c4f6a; 
    padding-left:50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0;
}

.content h4 {
    color: #2b2e35;
    font-size:24px;
    line-height:25px;
    border-bottom: 4px solid #3c4f6a;
    padding: 0px 5px 15px 5px;
}


/* Responsive styling begins here. */
@media screen and (max-width: 795px){

    section {
        display:block;
        width:100%;;
    }

    .content-header {
        position:relative;
        font-size:45px;
        font-weight: bolder;
        text-align:left;
        width:100%;
        display:inline-block;
        margin:0px;
        height:100px;
    }
        
    .content {
        width:100%;
        border-left: 0px; 
        border-top: 4px solid #3c4f6a; 
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding:10px;
        }

    #larger {
        height:175px;
    }
    #first {
        height: 175px;
    }
    #one {
        top:80px;
    }

    #contact-me {
        position:relative;
        width:100%;
        border-left: 0px solid #3c4f6a; 
        padding-left:0px;
        display:block;
        margin:0px;
        text-align:center;
        }

    .content h4 {
        color: #2b2e35;
        font-size:24px;
        line-height:25px;
        border-bottom: 4px solid #3c4f6a;
        border-width:50%;
        padding: 0px 5px 15px 5px;
        height: 15px;
        text-align:center;
        display:inline-block;
        }
    }

    .banner {
        align-items:center;
        justify-content:center;
        text-align:center;
    }

    .banner h2 {
        color:#2b2e35;
        background-color:#88c5c7;
        font-size:30px;
        padding:5px 10px 5px 10px;
        top:175px;
    }


@media screen and (max-width:995px){

    header {
        position:static;
        background-color:#2b2e35;
        height: 125px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    header h1 {
        color:#2b2e35;
        background-color:#88c5c7;
        font-size:50px;
        text-align:center;
        padding:0px 10px 0px 10px;
        height:50px;
        width:100%;
        margin:0px;
    }
    
    header nav{
        display:flex;
        justify-content: space-between; 
        width:100%;
        margin-right:0px;
        margin-left:8px;
    } 

    .link {
        padding:5px 10px 5px 10px;
        text-decoration: none;
        color:#88c5c7;
        font-size:20px;
        height:20px;
        margin-top:0px;
    }
        
    .banner {
        align-items:center;
        justify-content:center;
        text-align:center;
    }

    .banner h2 {
        color:#2b2e35;
        background-color:#88c5c7;
        font-size:30px;
        padding:5px 10px 5px 10px;
        top:175px;
    }
}
